<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css"><!-- custom bootstrap theme css, for reference: https://bootswatch.com/sketchy/ -->
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>Virtual Artist - A Style Transfer Web App</title>
  
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

</head>
<body onload="pullData()">

  <!-- <div class="header" href="/"> -->
  <div class="header">
    <h1>Virtual AI Artist</h1>
    <h3>A Machine Learning Style Transfer Web App</h3>
  </div>

  <!-- <br> -->

  <div class="container-fluid">
          
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/result">Your Styled Image Steps</a>
        <a href="/gallery" class="active">Gallery</a>
        <a href="/" class="right">About Style Transfer</a>
    </div>
    <br>

  <div class="container">

      <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Here's a sample of the last 12 styled images!</h1>
    
      <hr class="mt-2 mb-5">
    
      <div class="row text-center text-lg-left">
    
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../static/gallery/best.png" alt="">
              </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../static/gallery/best1.png" alt="">
              </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../static/gallery/best2.png" alt="">
              </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../static/gallery/best3.png" alt="">
              </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../static/gallery/best4.png" alt="">
              </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../static/gallery/best5.png" alt="">
              </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../static/gallery/best6.png" alt="">
              </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../static/gallery/best7.png" alt="">
              </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../static/gallery/best8.png" alt="">
              </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../static/gallery/best9.png" alt="">
              </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../static/gallery/best10.png" alt="">
              </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../static/gallery/best11.png" alt="">
              </a>
        </div>
      </div>
    
    </div> 
      
    <div class="footer">
      <h4>&copy;2019 - The Minority Majority Team</h4>
      <p>Credit and Sighitings: reference to sites and github repos</p>
    </div>  

    <script type="text/javascript" src="static/js/logic.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>