<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"><!-- custom bootstrap theme css, for reference: https://bootswatch.com/sketchy/ -->
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Virtual Artist - A Style Transfer Web App</title>

</head>
<body>

    <div class="header">
        <h1>Virtual AI Artist</h1>
        <h3>A Machine Learning Style Transfer Web App</h3>
    </div>
      
    <div class="container-fluid">

        <div class="navbar">
            <a href="index.html" class="active">Home</a>
            <a href="form.html">Form</a>
            <a href="result.html">Result</a>
            <a href="style.html" class="right">About Style Transfer</a>
          </div>
          
          <div class="row align-items-center">
            <div class="col-md-4">
              <h2>Step 1: Upload Source Image</h2>
              <h5>Target image for rendering</h5>
              <div class="content-img" style="height:200px;">Image</div>
              <img id="style-img" src="../images/content.png" class="img-fluid" style="width:100%" alt="Sample Image"></img>
          <br>
          <select id="content-select" class="centered custom-select">
            <option value="" disabled>Select content</option>
            <option value="pic">Take a picture</option>
            <option value="file">Select from file</option>
            <option value="stata">stata</option>
            <option value="diana">diana</option>
            <option value="golden_gate">golden_gate</option>
            <option value="beach">beach</option>
            <option value="chicago" selected="selected">chicago</option>
            <option value="statue_of_liberty">statue_of_liberty</option>
          </select>
        </div><br>
      </div>
        
      <div class="col-md-4">
        <h2>Step 2: Select Favorite Artist</h2>
        <h5>Artist style to be applied</h5>
        <div class="content-img" style="height:200px;">
          <img id="style-img" src="../images/style.png" class="img-fluid" style="width:100%" alt="Style Image"></img>
          <br>
          <select id="content-select" class="centered custom-select">
            <option value="" disabled>Select content</option>
            <option value="pic">Take a picture</option>
            <option value="file">Select from file</option>
            <option value="stata">stata</option>
            <option value="diana">diana</option>
            <option value="golden_gate">golden_gate</option>
            <option value="beach">beach</option>
            <option value="chicago" selected="selected">chicago</option>
            <option value="statue_of_liberty">statue_of_liberty</option>
          </select>
        </div><br>
      </div>

      <div class="col-md-4">
        <h2>Step 3: Download Restyled Image</h2>
        <h5>The resulting image after applying the transfer style</h5>
        <div class="content-img" style="height:200px;">
          <a href="../images/content.png" download>
          <img id="style-img" src="../images/content.png" class="img-fluid" style="width:100%" alt="Sample Image"></img>
        </div><br>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="container-fluid"> 
    <div class="row align-items-center">
      <div class="col-md-4 align-self-center">
        <div class="card card-body">
          <h3>Process:</h3>
          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
      </div>
      <div class="col-md-4 align-self-center">
        <div class="card card-body">
          <!-- <p>reference image for style training</p> -->
          <h3>Trained Model: VGG19</h3>
          <p>apply the style above.</p>
        </div>
      </div>
      <div class="col-md-4 align-self-center">
        <div class="card card-body">
          <h3>Click on the image to download</h3>
          <p><b>Note:</b> The download attribute is not supported in Edge version 12, IE, Safari 10 (and earlier), or Opera version 12 (and earlier).</p>
      </div>
    </div>
    
  </div>  
      
    <div class="footer">
      <h4>&copy;2019 - The Minority Majority Team</h4>
      <p>Credit and Sightings: reference to sites and github repos</p>
    </div>  

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>
